.column {
    float: left;
    width: 50%;
    padding-right: 50px;
    padding-bottom: 10px;
}
.column2 {
    float: left;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 10px;
}

.container {
    background:rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
  }