<div class="container" style=padding-top:10px>
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
   		
    		<form action="" method="POST">
    		    
                <div class="text-left">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">

                  </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Make a post!</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>    		    
    		    <div class="form-group">
                        <h6>Add a photo to your post!</h6>
                        <input type="file" class="text-center center-block file-upload" accept="image/*">
    		        <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
    		        <button class="btn btn-default">
    		            Cancel
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>
<div style=padding-top:20px>
<app-feed></app-feed>
</div>